server:
  port: 8080

spring:
  datasource:
    url: jdbc:mysql://localhost:3306/tims_db?useSSL=false&allowPublicKeyRetrieval=true&serverTimezone=UTC
    username: root
    password: amma204@S

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        dialect: org.hibernate.dialect.MySQLDialect

# Swagger OpenAPI
springdoc:
  api-docs:
    path: /api-docs
  swagger-ui:
    path: /swagger-ui.html

jwt:
  secret: "MY_VERY_LONG_SECRET_KEY_32CHARACTERS_MINIMUM"
  expiration: 86400000
